body{
  overflow: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#mapboxgl-children {
  height: 0%;
}

.mapboxgl-canvas-container {
  height: 100vh;
}

.fixed-nav {
  position: fixed;
  background-color: #fff; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

/* Add styles for your NavBar if not already present */
.nav-bar {
  width: 100%;
  background-color: #fff;
}

/* .map-style-selector {
  position: absolute;
  top: 100px;
  right: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
} */

.map-style-selector label {
  display: block;
  text-align: left;
  color: black;
}

.map-style-selector input[type="radio"] {
  margin-right: 5px;
}

.size-slider {
  min-width: 300px;
  position: absolute;
  text-align: left;

  bottom: 10px;
  /* right: 10px; */
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 10; /* Ensure it's above the map */
  color: black;
}

.legend p{
  margin: 0px;
}
/* This should set the modals UI to no scrollbar */
.ReactModal__Overlay{
  z-index: 100;
  display: flex;
  justify-content: center;
  justify-items: center;
  /* justify-self: center; */
  /* width: 100%; */
  background-color: transparent;
}

/* .ReactModal__Overlay--after-open{
  background-color: transparent;
} */

/* .ReactModal__Content{
  width: 50%;
} */

.modal-content{
  display: block;
  margin: 60;
  color: black;
}

.search-results-dropdown {
  animation: fadeIn 0.3s ease-in-out;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .action-buttons {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}